.support, .projects, .teams, .clients, .commissions, .help, .support1, .projects1, .teams, .clients1, .commissions1, .help1{
	background: url(../img/cornerstone/broker-navs.png) no-repeat !important;
	color: rgba(0, 0, 0, 0) !important;
}

.messages, .home, .completed, .ongoing, .messages1, .home1, .completed1, .ongoing1, .gen-info, .gen-info1, .unit-type, .unit-type1, .prop-opt, .prop-opt1, .virtual-map, .virtual-map1{
	background: url(../img/cornerstone/icons-cornerstone.png) no-repeat !important;
	color: rgba(0, 0, 0, 0) !important;
}

.settings, .settings1{
	background: url(../img/cornerstone/settings-img.png) no-repeat !important;
	color: rgba(0, 0, 0, 0) !important;
}

.properties,.v2-properties,.payments, .v2-payments, .files, .v2-files {
    background: url(../img/cornerstone/sprites.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    color: rgba(0, 0, 0, 0) !important;
}
.payments, .v2-payments{
	background-position: 0 -108px !important;
	width: 44px;
	height: 50px;
}

.tabs-left > .nav-tabs .active > a .payments,
.tabs-left > .nav-tabs > li > a:hover .payments,
.tabs-left > .nav-tabs > li > a:focus .payments,
.tabs-left > .nav-tabs .active > a:hover .payments,
.tabs-left > .nav-tabs .active > a:focus .payments {
	background-position: -49px -109px  !important;
	width: 44px;
	height: 50px;
}
.tabs-left > .nav-tabs .active > a .v2-payments,
.tabs-left > .nav-tabs > li > a:hover .v2-payments,
.tabs-left > .nav-tabs > li > a:focus .v2-payments,
.tabs-left > .nav-tabs .active > a:hover .v2-payments,
.tabs-left > .nav-tabs .active > a:focus .v2-payments {
	background-position: -49px -109px  !important;
	width: 44px;
	height: 50px;
}
.files{
	background-position: 0 -162px  !important;
	width: 43px;
	height: 50px;
}

.tabs-left > .nav-tabs .active > a .files,
.tabs-left > .nav-tabs > li > a:hover .files,
.tabs-left > .nav-tabs > li > a:focus .files,
.tabs-left > .nav-tabs .active > a:hover .files,
.tabs-left > .nav-tabs .active > a:focus .files {
	background-position: -49px -163px  !important;
	width: 43px;
	height: 50px;
}

.v2-files{
	background-position: 0 -162px  !important;
	width: 43px;
	height: 50px;
}

.tabs-left > .nav-tabs .active > a .v2-files,
.tabs-left > .nav-tabs > li > a:hover .v2-files,
.tabs-left > .nav-tabs > li > a:focus .v2-files,
.tabs-left > .nav-tabs .active > a:hover .v2-files,
.tabs-left > .nav-tabs .active > a:focus .v2-files {
	background-position: -49px -163px  !important;
	width: 43px;
	height: 50px;
}
.logout{
	background: url(../img/cornerstone/logout.png) no-repeat !important;
	background-position: 0 0 !important;
	width: 25px;
	height: 25px;
	color: rgba(0, 0, 0, 0) !important;
}

/**settings**/
.settings{
	background-position:-5px -2px !important;
	width: 45px;
	height: 50px;
}

.tabs-left > .nav-tabs .active > a .settings,
.tabs-left > .nav-tabs > li > a:hover .settings,
.tabs-left > .nav-tabs > li > a:focus .settings,
.tabs-left > .nav-tabs .active > a:hover .settings,
.tabs-left > .nav-tabs .active > a:focus .settings {
	background-position:-66px -2px !important;
	width: 45px;
	height: 50px;
}
/**settings**/

/**support**/
.tabs-left > .nav-tabs .active > a .support,
.tabs-left > .nav-tabs > li > a:hover .support,
.tabs-left > .nav-tabs > li > a:focus .support,
.tabs-left > .nav-tabs .active > a:hover .support,
.tabs-left > .nav-tabs .active > a:focus .support {
	width: 25px;
	height: 25px;
}
.support{
	background-position: -20px -261px !important;
	width: 43px;
	height: 50px;
}

.tabs-left > .nav-tabs .active > a .support,
.tabs-left > .nav-tabs > li > a:hover .support,
.tabs-left > .nav-tabs > li > a:focus .support,
.tabs-left > .nav-tabs .active > a:hover .support,
.tabs-left > .nav-tabs .active > a:focus .support {
	background-position: -95px -261px !important;
	width: 43px;
	height: 50px;
}
/**support**/


/**projects**/
.projects{
	background-position: -19px -14px !important;
	width: 44px;
	height: 50px;
}

.tabs-left > .nav-tabs .active > a .projects,
.tabs-left > .nav-tabs > li > a:hover .projects,
.tabs-left > .nav-tabs > li > a:focus .projects,
.tabs-left > .nav-tabs .active > a:hover .projects,
.tabs-left > .nav-tabs .active > a:focus .projects {
	background-position:-94px -14px !important;
	width: 44px;
	height: 50px;
}
/**projects**/

/**teams**/
.teams{
	background-position: -19px -85px !important;
	width: 43px;
	height: 50px;
}

.tabs-left > .nav-tabs .active > a .teams,
.tabs-left > .nav-tabs > li > a:hover .teams,
.tabs-left > .nav-tabs > li > a:focus .teams,
.tabs-left > .nav-tabs .active > a:hover .teams,
.tabs-left > .nav-tabs .active > a:focus .teams {
	background-position: -95px -85px  !important;
	width: 43px;
	height: 50px;
}
/**teams**/

/**clients**/
.clients{
	background-position: -23px -144px !important;
	width: 43px;
	height: 50px;
}

.tabs-left > .nav-tabs .active > a .clients,
.tabs-left > .nav-tabs > li > a:hover .clients,
.tabs-left > .nav-tabs > li > a:focus .clients,
.tabs-left > .nav-tabs .active > a:hover .clients,
.tabs-left > .nav-tabs .active > a:focus .clients {
	background-position: -97px -144px !important;
	width: 43px;
	height: 50px;
}
/**clients**/

/**commissions**/
.commissions{
	background-position: -23px -200px !important;
	width: 43px;
	height: 50px;
}

.tabs-left > .nav-tabs .active > a .commissions,
.tabs-left > .nav-tabs > li > a:hover .commissions,
.tabs-left > .nav-tabs > li > a:focus .commissions,
.tabs-left > .nav-tabs .active > a:hover .commissions,
.tabs-left > .nav-tabs .active > a:focus .commissions {
	background-position: -97px -200px  !important;
	width: 43px;
	height: 50px;
}
/**commissions**/

/**properties**/
.properties{
	background-position: 0px -55px !important;
    height: 50px;
    width: 43px;
}

.tabs-left > .nav-tabs .active > a .properties,
.tabs-left > .nav-tabs > li > a:hover .properties,
.tabs-left > .nav-tabs > li > a:focus .properties,
.tabs-left > .nav-tabs .active > a:hover .properties,
.tabs-left > .nav-tabs .active > a:focus .properties {
	background-position: -50px -56px !important;
    height: 50px;
    width: 43px;
}
/**properties**/
/**properties**/
.v2-properties{
	background-position: 0px -55px !important;
    height: 50px;
    width: 43px;
}

.tabs-left > .nav-tabs .active > a .v2-properties,
.tabs-left > .nav-tabs > li > a:hover .v2-properties,
.tabs-left > .nav-tabs > li > a:focus .v2-properties,
.tabs-left > .nav-tabs .active > a:hover .v2-properties,
.tabs-left > .nav-tabs .active > a:focus .v2-properties {
	background-position: -50px -56px !important;
    height: 50px;
    width: 43px;
}
/**properties**/

/**help**/
.help{
	background-position:-20px -318px !important;
	width: 43px;
	height: 50px;
}

.tabs-left > .nav-tabs .active > a .help,
.tabs-left > .nav-tabs > li > a:hover .help,
.tabs-left > .nav-tabs > li > a:focus .help,
.tabs-left > .nav-tabs .active > a:hover .help,
.tabs-left > .nav-tabs .active > a:focus .help {
	background-position: -93px -318px  !important;
	width: 43px;
	height: 50px;
}
/**help**/

/**messages**/
.messages{
	background-position:-265px -6px !important;
	width: 43px;
	height: 50px;
}

.tabs-left > .nav-tabs .active > a .messages,
.tabs-left > .nav-tabs > li > a:hover .messages,
.tabs-left > .nav-tabs > li > a:focus .messages,
.tabs-left > .nav-tabs .active > a:hover .messages,
.tabs-left > .nav-tabs .active > a:focus .messages {
	background-position: -329px -6px !important;
	width: 43px;
	height: 50px;
}
/**messages**/

/**completed**/
.completed{
	background-position:-265px -75px !important;
	width: 43px;
	height: 50px;
}

.tabs-left > .nav-tabs .active > a .completed,
.tabs-left > .nav-tabs > li > a:hover .completed,
.tabs-left > .nav-tabs > li > a:focus .completed,
.tabs-left > .nav-tabs .active > a:hover .completed,
.tabs-left > .nav-tabs .active > a:focus .completed {
	background-position: -330px -75px !important;
	width: 43px;
	height: 50px;
}
/**completed**/

/**home**/
.home{
	background-position:-329px -6px !important;
	width: 43px;
	height: 50px;
}

.tabs-left > .nav-tabs .active > a .home,
.tabs-left > .nav-tabs > li > a:hover .home,
.tabs-left > .nav-tabs > li > a:focus .home,
.tabs-left > .nav-tabs .active > a:hover .home,
.tabs-left > .nav-tabs .active > a:focus .home {
	background-position: -331px -224px !important;
	width: 43px;
	height: 50px;
}
/**home**/

/**ongoing**/
.ongoing{
	background-position:-265px -149px !important;
	width: 43px;
	height: 50px;
}

.tabs-left > .nav-tabs .active > a .ongoing,
.tabs-left > .nav-tabs > li > a:hover .ongoing,
.tabs-left > .nav-tabs > li > a:focus .ongoing,
.tabs-left > .nav-tabs .active > a:hover .ongoing,
.tabs-left > .nav-tabs .active > a:focus .ongoing {
	background-position: -331px -149px !important;
	width: 43px;
	height: 50px;
}
/**ongoing**/

/**gen-info**/
.gen-info{
	background-position:-11px -3px !important;
	height: 104px;
    width: 88px;
}

.tabs-menu > .nav-tabs .active > a .gen-info,
.tabs-menu > .nav-tabs > li > a:hover .gen-info,
.tabs-menu > .nav-tabs > li > a:focus .gen-info,
.tabs-menu > .nav-tabs .active > a:hover .gen-info,
.tabs-menu > .nav-tabs .active > a:focus .gen-info {
	background-position: -137px -3px !important;
	height: 104px;
    width: 88px;
}
/**gen-info**/

/**unit-type**/
.unit-type{
	background-position:-11px -125px !important;
	height: 104px;
    width: 88px;
}

.tabs-menu > .nav-tabs .active > a .unit-type,
.tabs-menu > .nav-tabs > li > a:hover .unit-type,
.tabs-menu > .nav-tabs > li > a:focus .unit-type,
.tabs-menu > .nav-tabs .active > a:hover .unit-type,
.tabs-menu > .nav-tabs .active > a:focus .unit-type {
	background-position: -137px -125px !important;
	height: 104px;
    width: 88px;
}
/**unit-type**/

/**prop-opt**/
.prop-opt{
	background-position:-11px -248px !important;
	height: 104px;
    width: 88px;
}

.tabs-menu > .nav-tabs .active > a .prop-opt,
.tabs-menu > .nav-tabs > li > a:hover .prop-opt,
.tabs-menu > .nav-tabs > li > a:focus .prop-opt,
.tabs-menu > .nav-tabs .active > a:hover .prop-opt,
.tabs-menu > .nav-tabs .active > a:focus .prop-opt {
	background-position: -137px -248px !important;
	height: 104px;
    width: 88px;
}
/**prop-opt**/
/**virtual-map**/
.virtual-map{
	background-position:-11px -370px !important;
	height: 104px;
    width: 88px;
}

.tabs-menu > .nav-tabs .active > a .virtual-map,
.tabs-menu > .nav-tabs > li > a:hover .virtual-map,
.tabs-menu > .nav-tabs > li > a:focus .virtual-map,
.tabs-menu > .nav-tabs .active > a:hover .virtual-map,
.tabs-menu > .nav-tabs .active > a:focus .virtual-map {
	background-position: -137px -370px !important;
	height: 104px;
    width: 88px;
}
/**virtual-map**/

.tabs-menu .nav-tabs > li.active > a, .tabs-menu .nav-tabs > li.active > a:hover, .tabs-menu .nav-tabs > li.active > a:focus{
	border: none !important;
}