.chosen-container-single,.chosen-single{
    height: 33px;
    line-height: 28px;
}

select.select2-hidden-accessible, select.select2, select.has-select2 {
    visibility: hidden;
    width: 100% !important;
}

select.select2 + span.select2, select.select2-hidden-accessible:not(.has-select2) + span.select2 {
    width: 100% !important;
}

select.has-select2 + span.select2 {
    width: 100%;
    margin-top: -8px;
}

.select2-container .select2-selection--single {
    height: 32px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 30px;
    height: 30px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow  {
    height: 30px;
}
.select2-container .select2-container--default .select2-container--open {
    width: 0 !important;
}
.select2-container {
    width: auto;
    max-width: 100%;
}
.select2-container .select2-choice {
    height: 34px !important;
    line-height: 30px !important;
}
.select2-container .select2-choice .select2-arrow b {
    background-position: 0 3px !important;
}
.select2-dropdown-open .select2-choice .select2-arrow b {
    background-position: -18px 3px !important;
}
.select2-container .select2-choice abbr {
    top: 9px !important;
}

html,body {
    height: 100%;
}
body {
	font-family: Roboto !important;
	font-size: 90%/1.249;
    text-align: left;
    padding: 0;
}
.body-bg{
	background-image: url("../img/bg.jpg");
    background-repeat: repeat;
	background-position: 0 0;
}
a {
    color: #0F5E94;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Roboto !important;
}
.title {
    color: #C22127;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    border-top: #C22127 2px solid;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom: #ECECEC 1px solid;
    margin-bottom: 15px;
	line-height: 30px;
}
h4.price{
    font-weight:600
}
.noti-count{
    background-color: #C22127;
    font-size: 10px !important;
    color: white !important;
    font-weight: bold !important;
    padding: 5px 7px;
    position: absolute; 
    top: 10px; 
    right: 40px;
}
.desc{font-size:13px;line-height:15px}
.view_prop{
    position: absolute; top: 0px; right: 35px;
}
.blue-green{
    color:#38abbe
}
.fld-name{
    color: #000; /*#38abbe;*/
    font-size: 13px;
	font-weight: bold !important;

}
.count-item {
    color: black;
}
.email{ color: #C22127;}
.my_info td{
    border: none !important;
    padding:3px !important
}
.my_msgs td,.my_prop td,.my_pends td,.my_missing td{
    border: none !important;
}
.mail-content{
     cursor: pointer;
}
tr.mail-content td{
    padding: 13px 8px !important;

}
#wrap > .container {
  padding: 60px 15px 0;
}
.green-lbl{
    background-color:#90ca38;
    color:white !important;
    font-weight:300;
    border-radius:2px;
    padding:2px 5px;
    font-size:11px !important
}

.tomato-lbl{
    background-color:#ff432a;
    color:white !important;
    font-weight:300;
    border-radius:2px;
    padding:2px 5px;
    font-size:11px !important
}
.orange-lbl{
    background-color:#fda738;
    color:white !important;
    font-weight:300;
    border-radius:2px;
    padding:2px 5px;
    font-size:11px !important
}
.red-lbl{
    background-color:#ff0000;
    color:white !important;
    font-weight:300;
    border-radius:2px;
    padding:2px 5px;
    font-size:11px !important
}
.orange-lbl-prog{
    font-weight: bold; font-size: 14px ! important; padding: 7px 15px;
}
.green-lbl-prog{
    font-weight: bold; font-size: 14px ! important; padding: 7px 15px;
}
.desc{
    /*margin-left: 15px;*/
}
.progress-label{
   color: #FDA738;
    display: block;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}
.image_type{
    width:205px;height:153px;border:#ececec solid 2px;border-radius:6px;
}
.date-title{
    background-color:#f4f4f4;
    padding:10px;
    border-radius:3px;
    margin-bottom:15px;
}
.update-btn,.add-agent-btn{
    background: url(../img/cornerstone/update.png) no-repeat !important;
    height: 26px;
    width: 26px;
    padding: 5px 52px;
    cursor: pointer;
}
.delete_prospect_btn ,.close-btn, .cancel_info{
    background: url(../img/cornerstone/close.png) no-repeat !important;
    height: 27px;
    width: 26px;
    padding: 5px 15px;
    cursor: pointer;
}
.edit-btn{
    background: url(../img/cornerstone/edit-btn.png) no-repeat !important;
    height: 25px;
    width: 26px;
    padding: 5px 15px;
    cursor: pointer;
}
.reply-btn{
    background: url(../img/cornerstone/reply.png) no-repeat !important;
    padding: 5px 15px;
    cursor: pointer;
    color: rgba(0,0,0,0) !important;

}
.bin-btn{
    background: url(../img/cornerstone/bin.png) no-repeat !important;
    height: 25px;
    width: 26px;
    padding: 5px 15px;
    cursor: pointer;
    color: rgba(0,0,0,0) !important;
}
.upload-btn{
    background: url(../img/cornerstone/upload.png) no-repeat !important;
    height: 25px;
    width: 26px;
    padding: 5px 15px;
    cursor: pointer;
    color: rgba(0,0,0,0) !important;
}
.up-btn{
    background: url(../img/cornerstone/up.png) no-repeat !important;
    height: 25px;
    width: 26px;
    padding: 5px 15px;
    cursor: pointer;
    color: rgba(0,0,0,0) !important;
}
.down-btn{
    background: url(../img/cornerstone/down.png) no-repeat !important;
    height: 25px;
    width: 26px;
    padding: 5px 15px;
    cursor: pointer;
    color: rgba(0,0,0,0) !important;
}
.download-btn{
    background: url(../img/cornerstone/download.png) no-repeat !important;
    height: 25px;
    width: 26px;
    padding: 5px 15px;
    cursor: pointer;
    color: rgba(0,0,0,0) !important;
}
.view-btn{
    background: url(../img/cornerstone/view.png) no-repeat !important;
    height: 26px;
    width: 26px;
    padding: 5px 15px;
    cursor: pointer;
    color: rgba(0,0,0,0) !important;

}
.star {
    height: 25px;
    width: 26px;
    padding: 5px 15px;
    cursor: pointer;
    color: rgba(0,0,0,0) !important;
}
.star-btn{
    background: url(../img/cornerstone/star.png) no-repeat !important;
    
}
.star-btn-high{
    background: url(../img/cornerstone/star-high.png) no-repeat !important;
}
.btn-blue-green {
    padding: 3px 15px; margin-top: -3px;
    background-color: #38abbe;
    font-weight: bold;
    border-color: #38abbe;
    color: white !important;
}
.btn-blue-green:hover{
    background-color: #38abbe;
    opacity: 0.9;
    border-color: #38abbe;
    color: white !important;
    
}
.from-name{
    color: #5B5B5C !important;
    font-weight:600;
}
.unread {
    background-color: #f6f6f6 !important;
}
.selected{
    border-left: 2px solid #CDCCCC !important;
    border-radius:none; 
}
.mail-content span{
    font-size: 13px;
    color: #888888;
}

.panel-title > a{
    font-size: 13px;
    color: #999999;
    text-decoration: none;
}
.panel-title {
    line-height: 19px;
}
.panel-body{
    font-size: 13px;
    color: #676767;
}
.panel-default .blue-green {
    font-size: 13px;
}
.panel-default > .panel-heading {
    background-color: white;
    margin-top:10px; 
}
.panel-default {
    border: none;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
  text-align:center;
}

code {
  font-size: 80%;
}
.a-float{
    box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.8);
    margin: 20px auto 0;
    padding: 10px;
    position: fixed;
    right: 1%;
    top: 6%;
    width: 35%;
    z-index: 9999;
}

#lhoopa-nav {
	height: 63px;
	border-bottom: 3px solid #4C4C4C; /*rgba(0, 0, 0, 0.1);*/
	z-index: 9999;
}
#lhoopa-nav a.navbar-brand {
    float: left;
    font-size: 18px;
    line-height: 20px;
    margin: 5px 20px 5px 0 !important;
    padding: 0;
}
#lhoopa-nav a.navbar-brand img{
    width: 90%;
}
#lhoopa-nav .navbar-nav > li > a {
    padding: 18px 15px;
}
#lhoopa-nav .navbar-nav li img{
	margin: 1px auto;
	padding: 0 0 0 10px;
}

.table-align-left{
	text-align: left !important;
}
.table-align-right{
	text-align: right !important;
}
.table-align-center{
	text-align: center !important;
}
.table-align-middle{
	vertical-align: middle !important;
}
.tab-title{
    color: #333333;
    font-family: Roboto !important;font-weight:600;
    font-size: 14px;
    text-transform: uppercase;
    width: auto;
}
.fil1 {
    background-color: #FFFFFF !important;
    background-image: url("../img/drop-green.png");
    background-position: right top;
    background-repeat: no-repeat;
    border: 1px solid #E5E5E5 !important;
    border-radius: 5px !important;
    color: #333333 !important;
    float: left;
    font-family: Roboto !important;
    font-weight:600 !important;
    font-size: 12px;
    height: 37px;
    margin: 0;
    padding: 10px 50px 10px 12px !important;
    width: 230px;
}
.btn-green{
    background-image: url("../img/det.jpg");
    background-repeat: repeat-x;
    border: medium none;
    border-radius: 30px;
    box-shadow: 0 1px 2px 1px rgba(1, 1, 1, 0.1);
    color: #FFFFFF;
    float: right;
    font-family: Roboto !important;
    font-weight:600;
    font-size: 12px;
    height: 37px;
    margin-left: 10px;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 1px #687F1B;
    text-transform: uppercase;
    width: 103px;
}
.btn-green:hover, a.btn-green:hover{
	color: #FFFFFF;
	text-decoration: none;
	text-shadow:1px 1px 1px #94b133;
	background-image:url("../img/det-h.jpg");
}
.btn-green:active, a.btn-green:active {
    text-decoration: none !important;
}

.green {
    color: #99BB22;
    font-family: font-family: Roboto !important;font-weight:700;;
    font-size: 15px;
    text-transform: uppercase;
}
.links-header {
    font-size: 15px;
}
.table thead th {
    background-image: url("../img/t-tab.jpg");
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #A8C73E !important;
    border-style: solid none !important;
    border-width: 0 0 3px !important;
    color: #2B3138;
   font-family: font-family: Roboto !important;font-weight:400;;
    font-size: 13px;
    height: 16px !important;
    padding: 6px 10px !important;
}
.table thead th a{
	color: #2B3138;
    font-family: font-family: Roboto !important;font-weight:400;;
    font-size: 12px;
}
.table td {
	font-size: 12px;
}
.image-td .img-holder {
    padding: 0;
}
.image-td .img-holder img {
    border: 1px solid #E2E2E2;
    border-radius: 3px;
    padding: 4px;
}
.property-title {
    color: #FF6600;
    font-size: 14px;
    font-weight: 600;
}
.property-desc{
    font-size: 11px;
    font-style: italic;
}


.details-gallery{
    overflow: hidden;
    position: relative;
    width: 100%;
}
#gallery-slideshow {
    height: 350px;
    overflow: hidden;
    width: auto;
}
#gallery-slideshow a {
    height: 375px;
}
#gallery-slideshow img {
    height: 100%;
    max-height: 100%;
    width: 100%;
}
#gallery-nav-prev, #gallery-nav-next {
    top: 180px !important;
}
#gallery-nav-prev {
    left: 0 !important;
    margin-left: 10px;
    margin-top: 0;
    padding: 0 0 0 1px !important;
    position: absolute !important;
    top: 160px !important;
    z-index: 9 !important;
}
#gallery-nav-next {
    margin-right: 10px;
    margin-top: 0;
    padding: 0 1px 0 0 !important;
    position: absolute !important;
    right: 0 !important;
    top: 160px !important;
    z-index: 9 !important;
}
#gallery-thumbs {
    float: left;
    height: 90px;
    margin-top: 0;
    width: 100%;
}
ul#gallery-nav {
    margin: 10px 0 10px 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}
#gallery-nav {
    float: left;
    margin: 0;
}
#gallery-nav li {
    border-bottom: 1px solid #CCCCCC;
    display: inline;
    line-height: 1.5em;
    float: left;
    list-style: none outside none;
    margin: 0 10px 10px 0 !important;
    width: 115px !important;
}
#gallery-nav li.activeSlide a {
    background: none repeat scroll 0 0 #CFCFCF;
}
#gallery-nav a {
    border: 1px none #CCCCCC;
    border-radius: 0 !important;
    display: block;
    margin-bottom: 0;
    padding: 0 !important;
    width: 115px !important;
}
#gallery-nav li a img {
    border: medium none;
    display: block;
    height: 79px !important;
    width: 113px !important;
}
.show-grid {
    margin-bottom: 15px;
}
.show-grid2 {
    display: inline-block;
    margin: 10px auto;
    width: 100%;
}
div.rating-cancel, div.star-rating {display: block !important;}

/* ########### [START] LAB LEFT/RIGHT/BOTTOM CSS ########### */
.tabbable{
    min-height: 634px;
}
.tabs-below > .nav-tabs > a,
.tabs-right > .nav-tabs > a:hover,
.tabs-left > .nav-tabs > a:focus {
	float: none !important;
}

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}
.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li,
.tabs-below > .nav-tabs > li {
  float: none;
  min-width: 115px;
}
.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a,
.tabs-below > .nav-tabs > li > a {
    border-right: 3px solid;
    color: #ECECEC;
    text-align: center;
}
.tabs-left > .nav-tabs > li > a > div {
    margin: auto;
}
.tabs-left > .nav-tabs {
  float: left;
  margin-right: 20px;
}
.tabs-left > .nav-tabs > li > a {
  border-radius: 0px;
}
.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
    border-right: 3px solid;
    float: none;
    color: #c22127 !important;
    /*background: url(../img/cornerstone/arr.png) no-repeat !important;*/
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
    border-right: 3px solid;
    float: none;
    color: #c22127 !important;
    /*background: url(../img/cornerstone/arr.png) no-repeat !important;*/
}
.tabs-left > .nav-tabs .active > a span,
.tabs-left > .nav-tabs > li > a:hover span,
.tabs-left > .nav-tabs > li > a:focus span,
.tabs-left > .nav-tabs .active > a:hover span,
.tabs-left > .nav-tabs .active > a:focus span {
    /*color: #c22127 !important;*/

}
.tabs-left #cat-content{
    float: left;
    margin: 0;
    min-height: 330px;
    padding: 0 10px 10px 0;
    width: 76%;
}
/* ########### [END] LAB LEFT/RIGHT/BOTTOM CSS ########### */

/* ########### [START] SPINEDIT CSS ########### */
.rooms {
    /*background-color: #F3F5F6 !important;*/
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    margin: 10px 0;
    overflow: hidden;
    position: relative;
}
.rooms-text {
    background-position: left center;
    background-repeat: no-repeat;
    color: #333333;
    float: left;
    font-size: 13px;
    font-weight: 600;
    margin-top: 7px;
    padding-left: 25px;
}
.rooms-text span {
    color: #FF6600;
    margin-right: 5px;
}

input.num_bedroom,
input.num_bathroom,
input.num_parking {
    background-color: transparent !important;
    border: medium none;
    border-radius: 0;
    bottom: 4px;
    box-shadow: none;
    color: #FF6600;
    font-weight: 600;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute !important;
    text-align: center !important;
    width: 26px !important;
}
.rooms .spinedit {
    position: relative;
}
.rooms [class^="icon-"], [class*=" icon-"] {
    margin-top: 0 !important;
}
.rooms .spinedit .icon-chevron-up {
    background-image: url("../img/plusminus.png");
    background-position: -27px -1px;
    float: right;
    height: 31px;
    position: static;
    width: 27px;
}
.rooms .spinedit .icon-chevron-up:hover{
	background-position: -27px -35px;
}
.rooms .spinedit .icon-chevron-down {
    background-image: url("../img/plusminus.png");
    background-position: 0 -1px;
    float: left;
    height: 31px;
    position: static;
    width: 27px;
}
.rooms .spinedit .icon-chevron-down:hover {
	background-position: 0px -35px;
}
.bath-text {
    background-position: left center;
    background-repeat: no-repeat;
    color: #333333;
    float: left;
    font-size: 13px;
    font-weight: 600;
    margin-top: 7px;
    padding-left: 25px;
}
.bath-text span {
    color: #FF6600;
    margin-right: 5px;
}
/* ########### [END] SPINEDIT CSS ########### */


input.prix-input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C9C9C9;
    border-radius: 5px 5px 5px 5px;
    color: #666666;
    padding: 10px;
    width: 38%;
} 
#lever_1.lever, 
#lever_2.lever{
	height: auto;
	padding: 4px;
	border-radius: 18px;
}
#lever_1.lever .slider-range-1, 
#lever_2.lever .slider-range-2,
#lever_3.lever .slider-range-3{
    background: none repeat scroll 0 0 #808283 !important;
    border: 4px solid #EBEBEB !important;
    box-shadow: 0 0 2px rgba(1, 1, 1, 0.5), 0 0 2px 2px rgba(1, 1, 1, 0.3) inset !important;
    color: #333333 !important;
    height: 15px !important;
}
.slider-range-1 .ui-widget-header, 
.slider-range-2 .ui-widget-header, 
.slider-range-3 .ui-widget-header{
    background-color: #2979F1;
    background-image: linear-gradient(to bottom, #076BA3, #009DF5);
    background-repeat: repeat-x;
    display: block;
    height: 7px;
    position: relative;
    top: 0;
}
.ui-slider-horizontal {
    height: 0.6em !important;
}
.ui-corner-all{
    border-radius: 10px !important;
}
.ui-slider .ui-slider-handle{
    background: none repeat scroll 0 0 #EBEBEB !important;
    border: 3px solid #D3D3D3 !important;
    box-shadow: 0 2px 4px #202020, 0 2px 3px #606060 inset !important;
    cursor: default !important;
    height: 15px !important;
    padding: 0 !important;
    position: absolute !important;
    top: -4px !important;
    width: 15px !important;
    z-index: 2 !important;
}


.text-label{
    color: #333333;
    font-family: Roboto !important;font-weight:600;
    font-size: 12px;
	text-transform: uppercase;
}
.pbox {
    border: 1px solid #E7ECEF;
    display: table;
    height: auto;
    padding: 15px 0;
    width: 100%;
}
.rate {
    border: 1px solid #E7ECEF;
    border-radius: 20px;
    color: #CC6633;
    float: right;
    font-family: Roboto !important;font-weight:600;
    font-size: 25px;
    height: auto;
    line-height: normal;
    margin-bottom: 20px;
    padding: 3px 15px;
    text-align: center;
    width: 100%;
}
.modal-dialog {
    /*margin: 80px auto !important;*/
    width: 900px !important;
}

.amenities {
    background-image: url("../img/icon-cross.png");
    background-position: 2% 35%;
    background-repeat: no-repeat;
    font-size: 12px;
    line-height: 25px;
    margin: 0 0 -5px !important;
    padding-left: 30px;
}
.amenities label {
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    line-height: 35px;
    margin-top: 0;
}
.img-loader {
	width: 32px;
	height: 32px;
	margin: 5% auto;
}

/* Login styles
-------------------------------------------------- */
.login-bg {
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/cornerstone/bg.jpg");
    background-repeat: repeat-x;
}
.login-box {
   background-color: white;
   border-left:3px solid #e6e6e6;
   border-right:3px solid #e6e6e6;
   min-height: 636px;
   padding:17% 50px;
}
.login-box .login-logo {
    left: -350px;
    position: absolute;
    top: -40px;
}
.login-label{
    color: #606D74;
    font-family: Roboto !important;font-weight:600;
    font-size: 25px;
    margin-bottom: 25px;
    text-transform: uppercase;
}
.form-name {
   /* font-size: 14px;
    font-weight: 700;*/
    margin-bottom: 15px;
    margin-top: 15px;
}
.form-name label {
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    text-align: left;
}
.login-btn{
    background-color: #38abbe;
    font-weight: bold;
    border-color: #38abbe;
    color: white;
}
.login-btn:hover{
    background-color: #38abbe;
    opacity: 0.9;
    border-color: #38abbe;
    color: white;

}
a.pref{background-image:url(../img/icons.png);background-position:0 -950px;float:right;height:22px;width:20px;margin-left:5px;margin-right:5px}
a.pref:hover{background-image:url(../img/icons.png);background-position:-20px -950px;float:right;height:22px;width:20px}

a.det{background-image:url(../img/icons.png);background-position:0px -860px;float:right;height:22px;width:20px;margin-left:5px;margin-right:5px}
a.det:hover{background-image:url(../img/icons.png);background-position:-20px -860px;float:right;height:22px;width:20px}

a.del{background-image:url(../img/icons.png);background-position:0 198px;float:right;height:22px;width:20px;margin-left:5px;margin-right:5px}
a.del:hover{background-image:url(../img/icons.png);background-position:-20px 198px;float:right;height:22px;width:20px}

a.info{background-image:url(../img/icons.png);background-position:0px -995px;float:right;height:22px;width:20px;margin-left:5px;margin-right:5px}
a.info:hover{background-image:url(../img/icons.png);background-position:-20px -995px;float:right;height:22px;width:20px}

a.his{background-image:url(../img/icons.png);background-position:0 65px;float:right;height:22px;width:20px;margin-left:5px;margin-right:5px}
a.his:hover{background-image:url(../img/icons.png);background-position:-20px 65px;float:right;height:22px;width:20px}

a.edit{background-image:url(../img/icons.png);background-position:0 22px;float:right;height:22px;width:20px;margin-left:5px;margin-right:5px}
a.edit:hover{background-image:url(../img/icons.png);background-position:-20px 22px;float:right;height:22px;width:20px}

.d-con{background-image:url(../img/icons.png);background-repeat:no-repeat;background-position: 0 -496px;float:left;height:20px;width:20px;margin-right:7px}
.d-con2{background-image:url(../img/icons.png);background-repeat:no-repeat;background-position: 0 -537px;float:left;height:20px;width:20px;margin-right:7px}
.d-con3{background-image:url(../img/icons.png);background-repeat:no-repeat;background-position: 0 -620px;float:left;height:20px;width:20px;margin-right:7px}
.d-con4{background-image:url(../img/icons.png);background-repeat:no-repeat;background-position: 0 -576px;float:left;height:20px;width:20px;margin-right:7px}

.grey{font-size:12px;color:#333;float:left;font-family:font-family: Roboto !important;font-weight:400;;margin-right:5px}
.num{color: #90AE29;float: left;font-family: font-family: Roboto !important;font-weight:700;;font-size: 14px;width: auto;}

hr {
    background-color: #FFFFFF;
    border-top: 1px dashed #E3ECF3;
    color: #FFFFFF;
    height: 4px;
}
p {
    font-family: font-family: Roboto !important;font-weight:400;;
    font-size: 12px;
    line-height: 20px;
	text-align: justify;
}
.pdf {
    background-image: url("../img/pdf.jpg");
    float: left;
    height: 39px;
    margin-top: 10px;
    width: 165px;
}
#dash-1{
	background-image: url("../img/dashboard-bg-1.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 100% auto;
    margin: 0 15px;
    min-height: 400px;
    width: 442px;
}
#dash-2{
	background-image: url("../img/dashboard-bg-2.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 100% auto;
    margin: 0 15px;
    min-height: 400px;
    width: 442px;
}
.btn-dash{
    display: table !important;
    float: none !important;
    font-size: 20px !important;
    margin: 320px auto !important;
    width: 170px !important;
}
.btn-dash:focus{text-decoration: none; color: #fff;}

.select2-container {
    width: 100%;
}
.select2-container .select2-choice {
	height: 34px !important;
    line-height: 30px !important;
}
.select2-container .select2-choice .select2-arrow b {
	background-position: 0 3px !important;
}
.select2-dropdown-open .select2-choice .select2-arrow b {
    background-position: -18px 3px !important;
}
.select2-container .select2-choice abbr {
	top: 9px !important;
}

/* tabs styles
-------------------------------------------------- */
#vtab {
    display: inline-block;
    height: 100%;
    margin: 1% auto 2%;
}
#vtab > ul > li {
	width: 146px;
	height: 120px;
	display: block;
	text-align: center;
	margin: auto;
	position: relative;
}
#vtab > ul > li.home {
	background-image: url(../img/tabs-bt.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;    
}
#vtab > ul > li.client {
	background-repeat: no-repeat;
	background-position: -148px 0px;
	background-image: url(../img/tabs-bt.png);
}
#vtab > ul > li.property {
	background-image: url(../img/tabs-bt.png);
	background-repeat: no-repeat;
	background-position: -296px 0px;
}
#vtab > ul > li.report {
	background-image: url(../img/tabs-bt.png);
	background-repeat: no-repeat;
	background-position: -444px 0px;
	float: left;
}
		
#vtab > ul > li.home.selected {
	z-index: 999;
	background-image: url(../img/tabs-bt.png);
	background-repeat: no-repeat;
	background-position: 0px -120px;
}
#vtab > ul > li.client.selected {
	z-index: 999;
	background-image: url(../img/tabs-bt.png);
	background-repeat: no-repeat;
	background-position: -148px -120px;
}
#vtab > ul > li.property.selected {
	z-index: 999;
	background-image: url(../img/tabs-bt.png);
	background-repeat: no-repeat;
	background-position: -296px -120px;
}
#vtab > ul > li.report.selected {
	z-index: 999;
	background-image: url(../img/tabs-bt.png);
	background-repeat: no-repeat;
	background-position: -444px -120px;
}
#vtab > ul {
	float: left;
	width: 144px;
	display: block;
	padding: 0;
	position: relative;
}
#vtab > div {
	background-color: #ffffff;
	margin-left: 1px;
	position: relative;
	z-index: auto;
	border-radius: 0px 8px 8px 8px;
	-webkit-box-shadow: 0px 1px 3px 2px rgba(1, 1, 1, 0.1);
	box-shadow: 0px 1px 3px 2px rgba(1, 1, 1, 0.1);
	height: auto;
	padding-top: 12px;
	padding-right: 20px;
	padding-bottom: 12px;
	padding-left: 20px;
	float: left;
	display: none;
}
#vtab > div > h4 {
	color: #800;
	font-size: 1.2em;
	border-bottom: 1px dotted #800;
	padding-top: 5px;
	margin-top: 0;
}
.nav-tabs > li > a {
    border-style: none;
    border-width: 0px;
    font-family: Roboto !important;font-weight:600;
    font-size: 10px;
    color: rgba(0,0,0,0);
    height: auto;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 140px;
	margin-right: 7px !important;
    text-align: center;
}
.nav-tabs > li > a span{
    color: #666666;
    font-weight:normal;
    font-size: 11px;
    text-transform: none;
}
.nav-tabs .glyphicon {
    padding-left: 10px;
}
.nav-tabs > li.active > a,
.nav-tabs > li > a:hover{
    background-color: #FFFFFF !important;
    color: #333333;
    float: left;
}
.box-con1,.box-con2,.box-con3,.box-con4{
    float: left;
    height: auto;
    min-height: 600px;
    width: 955px;
}
.box-con2 .nav-tabs > li > a{
	background-color: #A8C73D;
    background-image: url("../img/tb-d.jpg");
    background-repeat: repeat-x;
    border-color: #98B535 #98B535 rgba(0, 0, 0, 0);
}
.box-con3 .nav-tabs > li > a{
	background-color: #FABC28;
    background-image: url("../img/tb-e.jpg");
    background-repeat: repeat-x;
    border-color: #F5B51E #F5B51E rgba(0, 0, 0, 0);
}
.box-con2 .nav-tabs > li > a .tab-icon,
.box-con3 .nav-tabs > li > a .tab-icon{
    float: left;
    height: 19px;
    margin-right: 8px;
    width: 24px;
	display: block;
}
.box-con2 .nav-tabs > li.active > a.tab1 .con04,
.box-con2 .nav-tabs > li > a.tab1:hover > .con04 {
    background-image: url("../img/icons.png");
    background-position: -46px -217px;
}
.box-con2 .nav-tabs > li > a.tab1 .con04 {
    background-image: url("../img/icons.png");
    background-position: 0 -217px;
}
.box-con2 .nav-tabs > li.active > a.tab2 .con05,
.box-con2 .nav-tabs > li > a.tab2:hover > .con05 {
    background-image: url("../img/icons.png");
    background-position: -46px -272px;
}
.box-con2 .nav-tabs > li > a.tab2 .con05 {
    background-image: url("../img/icons.png");
    background-position: 0 -272px;
}
.box-con2 .nav-tabs > li.active > a.tab3 .con06,
.box-con2 .nav-tabs > li > a.tab3:hover > .con06 {
    background-image: url("../img/icons.png");
    background-position: -46px -386px;
}
.box-con2 .nav-tabs > li > a.tab3 .con06 {
    background-image: url("../img/icons.png");
    background-position: 0 -386px;
}
.box-con2 .nav-tabs > li.active > a.tab4 .con07,
.box-con2 .nav-tabs > li > a.tab4:hover > .con07 {
    background-image: url("../img/icons.png");
    background-position: -46px -330px;
}
.box-con2 .nav-tabs > li > a.tab4 .con07 {
    background-image: url("../img/icons.png");
    background-position: 0 -330px;
}

.box-con3 .nav-tabs > li.active > a.tab5 .con08,
.box-con3 .nav-tabs > li > a.tab5:hover > .con08 {
    background-image: url("../img/icons.png");
    background-position: -46px -451px;
}
.box-con3 .nav-tabs > li > a.tab5 .con08 {
    background-image: url("../img/icons.png");
    background-position: 0 -451px;
}
.box-con3 .nav-tabs > li.active > a.tab6 .con09,
.box-con3 .nav-tabs > li > a.tab6:hover > .con09 {
    background-image: url("../img/icons.png");
    background-position: -46px -386px;
}
.box-con3 .nav-tabs > li > a.tab6 .con09 {
    background-image: url("../img/icons.png");
    background-position: 0 -386px;
}
.box-con3 .nav-tabs > li.active > a.tab7 .con10,
.box-con3 .nav-tabs > li > a.tab7:hover > .con10 {
    background-image: url("../img/icons.png");
    background-position: -46px -330px;
}
.box-con3 .nav-tabs > li > a.tab7 .con10 {
    background-image: url("../img/icons.png");
    background-position: 0 -330px;
}

.tab-content{margin: 15px auto;}

.detail-text {
    border: 1px solid #E3ECF3;
    margin: 0 10px 10px 0;
    padding: 10px;
    width: 40.267%;
}

.drop-tab {
    background-color: #FFFFFF;
    border: 1px solid #E2EBF0;
    color: #31373D;
    float: left;
    font-family: Roboto !important;font-weight:600;
    font-size: 14px;
    height: auto;
    padding: 10px;
    width: 100%;
}
.box-con1 .drop-tab {
	border-bottom: 2px solid #44ADF3;
}
.box-con2 .drop-tab {
	border-bottom: 2px solid #B5C73E;
}
.box-con3 .drop-tab {
	border-bottom: 2px solid #F3B625;
}
.box-con4 .drop-tab {
	border-bottom: 2px solid #ee8b3d;
}

.cat-icons{
    background-image: url("../img/prop-con.png");
	background-position: 0 0;
    float: left;
    height: 20px;
    margin-right: 7px;
    width: 20px;
}
.p-con-1 {
    background-position: 0 -1891px;
}
.p-con-2 {
    background-position: 0 -1850px;
}
.p-con-3 {
    background-position: 0 -1949px;
}
.p-con-4 {
    background-position: 0 -1600px;
}
.p-con-5 {
    background-position: 0 -1648px;
}
.p-con-6 {
    background-position: 0 -1697px;
}
.p-con-7 {
    background-position: 0 -1748px;
}
.p-con-8 {
    background-position: 0 -1801px;
}

.top-section{
    background-color: #F4F3F3;
    background-image: -moz-linear-gradient(center top , #F4F3F3, #F2F0F0);
    border-bottom: 1px solid #C7C7C7;
    /*height: 50px;*/
    position: relative;
    top: 60px;
}
.top-section h5 a {
    color: black;
    text-decoration: none !important;
}
.top-section .navbar-default{
    background-color: transparent; 
    border: 0px none; 
    margin-bottom: 0px;
}
.top-section .navbar-default a{
    color: black ;
    padding-right:0px;
}
.top-section .navbar-default .active a,.top-section .navbar-default .active:hover{
    background-color:rgba(0,0,0,0) !important;
    color: green !important;
    font-weight: bold !important;
}
.top-section .navbar-default .active i{
    color: black !important;
}
.top-section .navbar-default .dropdown-menu a{
    padding-left: 15px;
}
.top-section .glyphicon-chevron-right{
    margin-left: 15px;
}
.date_display{
    color: #3F3F3F;
    font-size: 13px;
	/*
    left: 0;
    position: absolute;
	*/
	padding: 15px;
}
.date_count span{
    color: #0793D4;
   font-family: Roboto !important;font-weight:600;
    font-size: 24px;
    position: relative;
    top: 5px;
}
.h-border-left{
    background-image: url("../img/border-top.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 27px;
    margin-top: 10px;
    width: 100%;
}
.h-border-right{
    background-image: url("../img/border-top.png");
    background-position: 0 -27px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 27px;
	margin-top: 10px;
    width: 100%;
}
.my_prop .fld-name {
   /* font-weight: bold;*/
}
.page-title{
    color: #3F3F3F;
    font-family: Roboto !important;font-weight:600;
    font-size: 35px;
    line-height: 45px;
    text-align: center;
}
.page-title-tagline{
    color: #4C4C4C;
    font-size: 17px;
    margin: 10px auto;
    text-align: center;
}
.current_step,.current_goal{
    font-size: 30px;
    margin: 10px auto;
}
/*#contacts .row{
    margin: 30px auto 30px 115px; width: 100%;
}*/
.steps{
	background-image: url("../img/ed-background.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
	height:167px;
	margin: 0 auto;
	cursor: pointer;
}
.steps.info1{
	background-position: 0 0;
	width:122px;
}
.steps.info1:hover,
.steps.info1.active,
.steps.info1.done,
.steps.info1:active{
	background-position: 0 -167px;
}
.steps.info2{
	background-position: -122px 0;
	width:137px;
}
.steps.info2:hover,
.steps.info2.active,
.steps.info2.done,
.steps.info2:active{
	background-position: -122px -167px;
}
.steps.info3{
	background-position: -259px 0;
	width:102px;
}
.steps.info3:hover,
.steps.info3.active,
.steps.info3.done,
.steps.info3:active{
	background-position: -259px -167px;
}
.steps.info4{
	background-position: -362px 0;
	width:191px;
}
.steps.info4:hover,
.steps.info4.active,
.steps.info4.done,
.steps.info4:active{
	background-position: -362px -167px;
}
.steps.info5{
	background-position: -551px 0;
	width:114px;
}
.steps.info5:hover,
.steps.info5.active,
.steps.info5.done,
.steps.info5:active{
	background-position: -551px -167px;
}
.steps.info6{
	background-position: -667px 0;
	width:135px;
}
.steps.info6:hover,
.steps.info6.active,
.steps.info6.done,
.steps.info6:active{
	background-position: -667px -167px;
}
.steps.info1.done.finished {
	background-position: 0px -334px;
}
.steps.info2.done.finished {
	background-position: -122px -334px;
}
.steps.info3.done.finished {
	background-position: -259px -334px;
}
.steps.info4.done.finished {
	background-position: -362px -334px;
}
.steps.info5.done.finished {
	background-position: -551px -334px;
}
.steps.info6.done.finished {
	background-position: -667px -334px;
}
.btn-proceed{
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/btn-proceed.png");
    background-position: 0 -70px;
    background-repeat: no-repeat;
    border: medium none;
    display: table;
    height: 70px;
    margin: 40px auto 10px;
    width: 249px;
	cursor: pointer;
}
.btn-proceed.btn-active{
	 background-position: 0 0;
}
.btn-next{
    background-image: url("../img/btn-next.png") !important;
	cursor: pointer;
}
.btn-finish{
    background-image: url("../img/btn-finish.png") !important;
	cursor: pointer;
}
.form-custom-1{
	float: left ! important; width: 95% ! important; margin-right: 5px;
}
.colon{
    font-size: 32px;
    line-height: 30px;
}
.btn_action{
    display: table;
    width: 100%;
}
.add_label,.action_label{
    color: #7CB828;
    float: left;
    font-size: 13px;
    line-height: 30px;
    margin-right: 10px;
}
#add_entry /*,#add_contact*/{
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/btn-add.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    border: medium none;
    display: table;
    height: 31px;
    margin-bottom: 10px;
    width: 32px;
}
#edit_entry{
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/btn-edit.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    border: medium none;
    display: table;
    height: 31px;
    width: 32px;
}
.reset{
    border-radius: 15px !important;
    padding: 7px !important;
}
#profile_preview .panel {border-radius: 10px !important;}
#profile_preview .panel-title {
    font-family: Roboto !important;font-weight:600;
	font-size: 18px !important;
	float: left;
	text-transform: capitalize;
}
#profile_preview .panel-primary > .panel-heading {
    background-color: rgba(0, 0, 0, 0) !important;
    border-color: #428BCA;
    border-radius: 10px 10px 0 0 !important;
    color: #159DDC !important;
    display: table;
    padding: 20px !important;
    width: 100%;
	position: relative;
}
#profile_preview .panel-body {
    padding: 20px !important;
	color: #3f3f3f !important;
}

#objectives .panel-default {
    border-color: #DF5B0C;
}
#objectives .panel-title {
    font-family: 'font-family: Roboto !important;font-weight:400;' !important;
	font-size: 18px !important;
	float: left;
	text-transform: capitalize;
}
#objectives .panel-default > .panel-heading {
    background-color: rgba(0, 0, 0, 0) !important;
    border-color: #DF5B0C;
    color: #df5b0c !important;
    display: table;
    padding: 10px 20px !important;
    position: relative;
    width: 100%;
}
#objectives .panel-default.done {
    border-color: #e89e14;
}
#objectives .panel-default.done > .panel-heading{
	color: #e89e14 !important;
	border-color: #e89e14 !important;
}
#objectives .panel-default.done > .panel-heading >.goal_no{
    background-color: #e89e14;
}
#objectives .panel-heading h3 span{
    color: #565656;
    display: inline-block;
    font-family: 'font-family: Roboto !important;font-weight:400;';
    font-size: 13px;
    line-height: 25px;
}
#objectives .panel-body {
    padding: 20px 20px 50px !important;
	color: #3f3f3f !important;
	position: relative;
}
#objectives .inner_footer{
    background-color: #F5F4F4;
    border-radius: 0 0 4px 4px !important;
    bottom: 0;
    left: 0;
    margin: 0 !important;
    padding: 12px 5px;
    position: absolute;
    width: 100%;
}
#objectives .action_label{margin: 0}
#objectives .edit_action{
    position: absolute;
    right: 5px;
    top: 6px;
    width: 19%;
}
#objectives .edit_action label{ float: left;}
#objectives .edit_action #edit_entry {
    /*float: left;*/
    /*margin-left: 10px;*/
	margin-left: 33px;
}
.goal_no{
    background-color: #DF5B0C;
    border-radius: 0 4px 0 0 !important;
    color: #FFFFFF;
    font-family: 'font-family: Roboto !important;font-weight:400;';
    font-size: 35px;
    padding: 8px 20px;
    position: absolute;
    right: 0;
    top: 0;
}
.edit_action{
    position: absolute;
    right: 5px;
    top: 15px;
    width: 11%;
}
.val{
	text-transform: capitalize;
	color: #159ddc;
	font-family: 'font-family: Roboto !important;font-weight:400;';
}
.new-label{
    background-color: #FC5123 !important;
    border-radius: 18px !important;
    color: #FFFFFF;
    display: block;
    font-family: 'font-family: Roboto !important;font-weight:400;';
    font-size: 17px;
    font-weight: normal;
    margin: 0 auto;
    padding: 7px 10px;
    position: relative;
	text-align: center;
    width: 40%;
}
#objectives .gifts_panel{
    border: 1px solid #ECECEC;
    max-height: 287px;
    overflow-y: scroll;
	overflow-x: hidden;
    padding: 10px;
}
#objectives .selected_gifts_panel{
    border: 3px dashed #5C5C5C;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
	min-height: 287px;
	overflow-x: hidden;
}
#objectives .gift_img{
    border: 2px solid #CCCCCC;
    border-radius: 5px;
    float: left;
    height: 50px;
    margin-right: 10px;
    padding: 2px;
    width: 70px;
}
#objectives .gift_img .hummer{ background-image: url("../img/hummer.jpg"); background-repeat: no-repeat; background-position: 0 0; width: 49px; height: 41px; margin: 0 auto;}
#objectives .gift_img .ducati-bike{ background-image: url("../img/ducati-bike.jpg"); background-repeat: no-repeat; background-position: 0 0; width: 49px; height: 41px; margin: 0 auto}
#objectives .gift_img .iphone-5{ background-image: url("../img/iphone-5.jpg"); background-repeat: no-repeat; background-position: 0 0; width: 49px; height: 41px; margin: 0 auto}
#objectives .gift_img .house-and-lot{ background-image: url("../img/house-and-lot.jpg"); background-repeat: no-repeat; background-position: 0 0; width: 49px; height: 41px; margin: 0 auto}
#objectives .gift_img .wedding-ring{ background-image: url("../img/wedding-ring.jpg"); background-repeat: no-repeat; background-position: 0 0; width: 49px; height: 41px; margin: 0 auto}

#objectives ul.gift_ul{
    list-style: none outside none;
    margin: 0 !important;
    padding: 0;
	min-height: 275px;
}
.gift_ul .display{display: none}
#objectives ul.gift_ul2{
    list-style: none outside none;
    margin: 0 !important;
    padding: 0;
	min-height: 262px;
}
.gift_ul2 .display{
   display: block;
    font-size: 12px;
    height: 27px;
    padding: 5px;
    margin-top: 5px;
	/*font-size: 10px;
	margin-top: 5px;
	font-style: italic;*/
}
.gift_ul2 .display2{
	display: block;
   	font-size: 10px;
	margin-top: 5px;
	font-style: italic;
}
#objectives ul.gift_ul li{
    display: inline-block;
    font-size: 12px;
    margin-bottom: 5px;
    width: 100% !important;
}
#objectives ul.gift_ul2 li{
    display: inline-block;
    font-size: 12px;
	margin: 0 5px 5px 0 !important;
	width: 48%;
    /*margin-bottom: 5px;
    width: 100% !important*/;
}
.slider-handle{
	background-image: url("../img/slider-marker.png") !important;
	background-repeat: no-repeat !important;
	background-position: 0 0 !important;
	width: 34px !important;
	height: 34px !important;
	opacity: 1 !important;
}
.ruller{
	background-image: url("../img/ruller.png");
	background-position: 0 0;
	background-repeat: repeat-x;
	width: 100%;
	height: 15px;
	margin-bottom: 3px;
}
.objective_eval{
	background-color: #e89e14;
	height: 200px;
}
#ex1Slider{margin-bottom: 20px;}
#ex1Slider .slider-selection {background: #e89e14;}
#ex1Slider .tooltip-inner{background-color: #f3b306 !important; padding: 5px 10px !important;}
#ex1Slider .tooltip.top {margin-top: -15px !important;margin-left: 10px;}
#ex1Slider .tooltip-arrow{border: 3px solid #000000 !important;bottom: -16px !important;height: 21px !important;margin-left: -2px !important;}
.slider.slider-horizontal .slider-track {height: 20px !important;}
.slider-track{border-radius: 9px !important;background-color: #DCDBDB !important;background-image: linear-gradient(to bottom, #DCDBDB 0%, #DCDBDB 100%) !important;}
.slider-selection{border-radius: 9px !important;}
.slider-handle.round{border-radius: 0 !important;}
.slider.slider-horizontal .slider-handle{margin-top: -12px !important; margin-left: -13px !important;}

.socials{
	background-image: url("../img/social-medias.jpg");
	background-position: 0 0 ;
	background-repeat: no-repeat;
	/*background-size: cover;*/
	width: 179px;
	height: 176px;
	margin: 0 auto;
	cursor: pointer;
}
.socials.fb{background-position: 0 0;}
.socials.twiiter{background-position: -179px 0;}
.socials.google{background-position: -358px 0;}
.socials.in{background-position: -537px 0;}
.socials.yahoo{background-position: -716px 0;}
.socials.mobile{background-position: -895px 0;}
.socials.fbtwit{background-position: -1073px 0;}

.socials.fb.done{background-position: 0 -176px;}
.socials.twiiter.done{background-position: -179px -176px;}
.socials.google.done{background-position: -358px -176px;}
.socials.in.done{background-position: -537px -176px;}
.socials.yahoo.done{background-position: -716px -176px;}
.socials.mobile.done{background-position: -895px -176px;}
.socials.fbtwit.done{background-position: -1073px -176px;}

.form_input,.form_action{display: none}

.icon-source{
	background-image: url("../img/img-sources.png");
	background-position: 0 0 ;
	background-repeat: no-repeat;
	width: 21px;
	height: 18px;
	margin: 0 auto;
}
.icon-source.fb{background-position: -6px 0;width: 21px;}
.icon-source.twiiter{background-position: -20px 0;width: 23px;}
.icon-source.google{background-position: -161px 0;width: 21px;}
.icon-source.in{background-position: -56px 0;width: 19px;}
.icon-source.yahoo{ background-position: -122px 0;width: 26px;}
.icon-source.mobile{background-position: -187px 0;}

.c-stat{
    font-size: 11px;
    font-weight: normal;
    padding: 8px 10px;
    text-align: left;
	cursor: pointer;
}
.c-green { background-color: green; color: #FFFFFF;}
.c-orange { background-color: orange; color: #FFFFFF;}
.c-red { background-color: red; color: #FFFFFF;}
#contacts .dropdown ul.dropdown-menu {
    border-radius: 0 !important;
    box-shadow: none;
    min-width: 90% !important;
    padding: 0 !important;
}

#contacts .dropdown ul.dropdown-menu .tooltip, .criteria_actions .tooltip{
	width: 150px;
}
#contacts a:active,#contacts a:hover{text-decoration: none !important}

.criterias {
	background-image: url("../img/img-criterias.png");
	background-position: 0 0 ;
	background-repeat: no-repeat;
	width: 27px;
	height: 32px;
	margin: 0 auto;
	cursor: pointer;
}
.criterias.c-one{background-position: 0 0;}
.criterias.c-two{background-position: -61px 0;width: 35px;}
.criterias.c-three{background-position: -121px 0;}
.criterias.c-one.active,.criterias.c-one:hover{background-position: 0 -37px;}
.criterias.c-two.active,.criterias.c-two:hover{background-position: -61px -37px;width: 35px;}
.criterias.c-three.active,.criterias.c-three:hover{background-position: -121px -37px;}

/*CRM STYLES*/
.div-section {
    font-family: 'font-family: Roboto !important;font-weight:400;';
    font-size: 15px;
    line-height: normal;
    padding: 10px;
    text-align: justify;
}
.div-bar {
    background-color: #171717;
    background-image: linear-gradient(to bottom, #414850 0%, #2F363E) !important;
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-image: none;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    margin-bottom: 0;
    padding: 10px;
    position: relative;
}
.div-bar h2 {
    color: #FFFFFF;
    font-family: Roboto !important;font-weight:600;
    font-size: 18px;
    line-height: normal !important;
    margin: 0;
}
#crm-tab {
	margin-bottom: 20px;
}
#crm-tab .tab-content {
    min-height: 100% !important;
	padding-top: 0;
	background: url(../images/bg-opacity-white.png) repeat top left;
	padding-left:0px;
	position: relative;
}
#crm-tab .tab-content input[type="submit"] {
    font-family: Roboto !important;font-weight:600;
    font-size: 18px;
    padding: 10px 50px !important;
    text-align: center;
    text-transform: uppercase;
    height: 52px;
    width: 227px; 
}
#crm-tab #myTab {
    background-color: #FFFFFF;
    border-bottom: 5px solid #353C44;
    border-radius: 5px 5px 0 0;
    box-shadow: none;
    margin: 0 !important;
    padding: 0 !important;
}
#crm-tab #mySubTab {
    background-color: #FFFFFF;
	
	background-image: linear-gradient(to bottom, #f8f9fb 0%, #e5eaee) !important;	
    background-repeat: repeat-x !important;
    border-color: #D5DCE9 #D5DCE9 transparent #D5DCE9 !important;
	border-style: solid solid none solid !important;
    border-width: 1px 1px 0 1px !important;
	
    border-radius: 0;
    box-shadow: none;
    margin: 0 !important;
    padding: 0 !important;
}
#crm-tab > li {
    margin: 0 !important;
}
#crm-tab #myTab li a{
	background-image: linear-gradient(to bottom, #f8f9fb 0%, #e5eaee) !important;	
    background-repeat: repeat-x !important;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05) !important;
	
    border-color: #D5DCE9 #D5DCE9 -moz-use-text-color !important;
    border-radius: 0 0 0 0;
    border-style: solid solid none none !important;
    border-width: 1px 1px 0 !important;
    color: #3B3C40 !important;
}
#crm-tab #mySubTab li a {
	background-image: linear-gradient(to bottom, #f8f9fb 0%, #e5eaee) !important;	
    background-repeat: repeat-x !important;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05) !important;
	
    border-color: transparent #D5DCE9 #e5eaee transparent !important;
    border-radius: 0 0 0 0;
    border-style: none solid solid none !important;
    border-width: 0 1px 1px !important;
    color: #3B3C40 !important;
}

#crm-tab #myTab li.active a,
#crm-tab #mySubTab li.active a {
    background-color: #171717 !important;
	background-image: linear-gradient(to bottom, #414850 0%, #2f363e) !important;
    background-repeat: repeat-x !important;
    border-color: transparent rgba(0, 0, 0, 0.1) #2f363e -moz-use-text-color !important;
    border-radius: 0 0 0 0 !important;
    border-style: none solid solid none !important;
    border-width: 0 1px 1px 0 !important;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05) !important;
    color: #FFFFFF !important;
    margin-bottom: 0 !important;
    padding: 10px !important;
}
#crm-tab .table thead tr {
	background-color: #E7E7E7 !important;
	background-image: linear-gradient(to bottom, #EEEEEE 0%, #E7E7E7) !important;
	color: #000 !important;
    background-repeat: repeat-x !important;
    border-bottom: medium none !important;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) transparent !important;
    border-image: none !important;
    border-radius: 0 0 0 0 !important;
	border-style: solid solid none !important;
    border-width: 1px 1px 0 !important;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05) !important;
    margin-bottom: 0 !important;
    padding: 10px !important;
}
#crm-tab .table tbody {
	border-style: solid;
	border-width: 0 1px 1px 1px;
	border-color: #DDDDDD;
}
/*#crm-tab .table,
#crm-tab .table tbody {
	border: 0;
}
#crm-tab .table tbody {
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
#crm-tab .table thead tr th {
	border: none !important;
	color: #000 !important;
	text-transform: capitalize !important;
	vertical-align: top;
}
#crm-tab .table td {
	border-left: 1px solid #DDDDDD !important;
    padding: 5px 10px !important;
	font-size: 13px !important;
}*/
#crm-tab .table_details .span4 {
	width: 33.324%;
}
#crm-tab #myTab li {
	border-bottom: 1px solid #353c42 !important;
	background: none repeat scroll 0 0 #FFFFFF;
	height: auto;
}
#crm-tab #mySubTab li {
	border-bottom: 1px solid #D5DCE9 !important;
	background: none repeat scroll 0 0 #FFFFFF;
	height: auto;
}
#crm-tab #myTab li#first_tab,
#crm-tab #mySubTab li#first_tab {
    border-radius: 5px 0 0 0 !important;
}
#crm-tab #myTab li#first_tab a,
#crm-tab #mySubTab li#first_tab a {
    border-radius: 5px 0 0 0 !important;
	border-left: 1px solid #D5DCE9 !important;
}
#crm-tab #myTab li#first_tab .active a,
#crm-tab #mySubTab li#first_tab .active a {
    border-radius: 5px 0 0 0 !important;
}
#crm-tab #myTab li#default_tab,
#crm-tab #mySubTab li#default_tab {
	margin-left: 0;
	padding: 0;
}
#crm-tab #myTab li#last_tab,
#crm-tab #mySubTab li#last_tab {
    border-radius: 0 5px 0 0  !important;
	margin-left: 0;
}
#crm-tab #myTab li#last_tab a,
#crm-tab #mySubTab li#last_tab a {
    border-radius: 0 5px 0 0  !important;
}
#crm-tab #myTab li#last_tab .active a,
#crm-tab #mySubTab li#last_tab .active a{
    border-radius: 0 5px0 0  !important;
}
#crm-tab #myTab a,
#crm-tab #mySubTab a {
    border: medium none !important;
    border-radius: 0 0 0 0 !important;
    margin: 0 !important;
    padding: 10px;
    position: relative;
    text-align: center;
}
#crm-tab #myTab #first_tab a, 
#crm-tab #myTab #default_tab a, 
#crm-tab #myTab #last_tab a{
    background-color: inherit !important;
    color: #3B3C40;
    font-family: Roboto !important;font-weight:600;
    font-size: 14px;
    height: auto;
    line-height: 30px;
    padding: 5px 10px !important;
}
#crm-tab #mySubTab #first_tab a, 
#crm-tab #mySubTab #default_tab a, 
#crm-tab #mySubTab #last_tab a {
    background-color: inherit !important;
    color: #3B3C40;
    font-family: Roboto !important;font-weight:600;
    font-size: 11px !important;
    height: auto;
    line-height: 30px;
    padding: 5px 0 !important;
    vertical-align: middle !important;
}
#crm-tab #myTab .span2 {
	width: 25%;
}
#crm-tab #mySubTab .span2 {
	width: 25%;
}
#crm-tab .btn{
	border: 1px solid #D6E1E7 !important;
}
#crm-tab #mySubTab li > a{
	width: 100% !important;
	font-size: 11px !important;
}
.crm-article {
    border-color: #D5DCE9;
    border-style: solid;
    border-width: 1px;
    font-family: 'font-family: Roboto !important;font-weight:400;';
    font-size: 13px;
    line-height: normal;
    padding: 10px;
    text-align: justify;
}
.article_panel {
    background: none repeat scroll 0 0 #FFFFFF;
}
.table thead {
    /*background: none repeat scroll 0 0 #F2F2F2;*/
    text-transform: uppercase;
}
.quickview_loader {
    background: url("../img/ajax-loader.gif") no-repeat scroll center top rgba(0, 0, 0, 0);
    display: none;
    height: 55px;
    margin: 10% 46.2%;
    position: absolute;
    width: 54px;
    z-index: 1;
}
/*==========================*/


/* Sticky footer styles
-------------------------------------------------- */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -61px; /* 60px originally, aloted 01px for the border top at the footer*/
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #D4DDE2;
}

.well.sidebar {
    position: fixed; 
    z-index: 9; 
    right: 32px; 
    top: 70px; 
    width: auto;
}
.alert p{
    font-size: 13px;
}
.process-range {
    position: relative;
}
.process-number {
    border:solid 2px #4CB3C4;
    border-radius: 28px;
    color: #4CB3C4;
    cursor: default;
    float: left;
    font-weight: 700;
    margin: 0 5px;
    padding: 3px 9px;
    position: relative;
    text-align: center;
    z-index: 1;
    cursor: pointer;
}
.process-number.red {
    background: none repeat scroll 0 0 #4CB3C4;
    color: white;
}
.process-number.green {
    background: none repeat scroll 0 0 #4CB3C4;
    color: white;
}
.process-connector {
    background: none repeat scroll 0 0 #4CB3C4;
    height: 1px;
    margin-left: -28px;
    margin-top: 8px;
    position: absolute;
    width: 11px;
}
.process-range .process-number:first-child .process-connector {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.cs-loader-big{
    background-image: url("../img/cornerstone/728-big.GIF");
    background-repeat: no-repeat;
    background-position: center;
    min-height: 420px;
}

/*  */
.modal-dialog.alert-confirm{ 
	max-width: 500px;
	margin-top: 100px;
}
.modal.fade .modal-dialog 
{
    -moz-transition: none !important;
    -o-transition: none !important;
    -webkit-transition: none !important;
    transition: none !important;

    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
}
.help-block {
	text-align: left;
}
.period-lbl {
    border-radius: 3px;
    color: white;
    font-size: 11px;
    line-height: normal;
    margin-bottom: 5px;
    margin-left: 5px;
    padding: 3px;
}
.period-lbl.grn {
    background-color: #67b930;
}
.period-lbl.ylw {
    background-color: #fda738;
}
.period-lbl.pnk {
    background-color: #f47564;
}
/*START - FORM VALIDATION ALERT CSS*/
label.error {
    background: none repeat scroll 0 0 #ef5f5f !important;
    border-radius: 5px !important;
    color: #fff !important;
    font-size: 12px !important;
    font-weight: normal !important;
    padding: 5px 15px !important;
    position: absolute !important;
    right: -15px !important;
    text-align: right !important;
    top: -15px !important;
    width: auto !important;
    z-index: 999 !important;
}
label.error:hover{
  visibility:hidden;
  opacity:0;
  transition: visibility 0s linear 0.5s,opacity 0.5s linear;
}
form .input-group {
    position: inherit !important;
}
.table td {
    position: relative !important;
}
.chosen-container.chosen-container-single{
    height: 40px; margin-top: 3px; width: 100% !important;
}

.classyLoader {
    position:fixed;top:50%;left:50%;transform:translate(-50%,-50%);
}

@media screen and (max-width: 767px) {
    .table-responsive {
        border: none !important; 
    }
    .classyLoader {
        position: fixed;
        top: 30%;
        left: 60%;
        transform: translate(-55%,-40%);
    }
    .tabbable {
        min-height: 515px;
    }
    .tabs-left > .nav-tabs {
        margin-right: 10px;
    }

    /* MY ACCOUNT */
    #message_container_list h3.title button.add_message {
        font-size: 12px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    /* PROPERTIES */
    .view_prop {
        top: 8px;
    }
    .orange-lbl-prog {
        padding: 2px 15px;
    }
    
    /* PAYMENTS */
    #payment_container_list .title {
        padding-bottom: 36px;
    }
    #payment_list_view_table_container #p_history {
        padding: 0;
    }
    #choose_select_property_payment {
        margin-top: 8px;
        margin-left: 15px;
    }

    /* FILES */
    .download-btn {
        padding: 15px;
    }
}
/*END - FORM VALIDATION ALERT CSS*/