<span style='color: #000' title='Frames'>   717</span><span style='color: #009' title='Memory'>  17408.00 KB</span><span style='color: #900' title='Time'>   1736.25 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />